.title {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.title::before {
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  background-color: #db4437;
  position: absolute;
  top: 0;
  right: -40px;
}
