/* Black: #292A2B */
/* White: #FDFFFF */
/* Red: #DB4437 */

.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 30px;
  width: 60vw;
  overflow-x: hidden;
  box-shadow: 40vw 0 0 1px #292a2b;
}

.logo {
  margin-top: -7px;
  height: 50px;
  display: inline;
}

/* Paragraph */
.main p {
  display: inline;
}

/* Images */
.main img {
  max-width: calc(60vw - 60px);
  border-radius: 10px;
  margin-top: 10px;
}
