.preContainer {
  width: 100%;
  position: relative;
}

.preContainer > pre {
  overflow-x: auto;
}

.preContainer > pre::selection {
  background-color: #db44377f;
}

.copyIcon {
  position: absolute !important;
  right: 0;
  top: -40px;
}
