.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contentLeft {
  flex-shrink: 1;
}

.contentRight {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
